## pt. 1 | data loading + exploration

### loading data

In [658]:
import pandas as pd  # noqa

In [659]:
df_customers = pd.read_csv('/Users/leahmayotte/Documents/education/umass/workshop_assignments/8_week_eight_pandas_retail_store/data/customers.csv')

df_products = pd.read_csv('/Users/leahmayotte/Documents/education/umass/workshop_assignments/8_week_eight_pandas_retail_store/data/products.csv')

df_stores = pd.read_csv('/Users/leahmayotte/Documents/education/umass/workshop_assignments/8_week_eight_pandas_retail_store/data/stores.csv')

df_sales = pd.read_csv('/Users/leahmayotte/Documents/education/umass/workshop_assignments/8_week_eight_pandas_retail_store/data/sales.csv')

df_inventory = pd.read_csv('/Users/leahmayotte/Documents/education/umass/workshop_assignments/8_week_eight_pandas_retail_store/data/inventory.csv')

In [660]:
df_customers.head(3)

,customer_id,first_name,last_name,email,phone,address,city,state,zip_code,registration_date
0,1,James,Smith,james.smith@gmail.com,555-123-4567,123 Main St,New York,NY,10001,2021-03-15
1,2,Mary,Johnson,NaN,212.555.6789,456 Park Ave,New York,NY,10022,2020-11-02
2,3,John,Williams,jwilliams@yahoo.com,(555) 987-6543,789 Broadway,Los Angeles,California,90001-1234,2021-05-20

In [661]:
df_products.head(3)

,product_id,product_name,category,subcategory,brand,price,cost,weight
0,1,Apple iPhone 13,Electronics,Smartphones,Apple,899.99,649.99,0.45
1,2,Samsung Galaxy S21,electronics,Smartphones,Samsung,799.99,539.99,0.50
2,3,Sony WH-1000XM4,ELECTRONICS,Headphones,Sony,349.99,210.00,0.60

In [662]:
df_stores.head(3)

,store_id,store_name,address,city,state,zip_code,region,size_sqft,opening_date
0,1,City Center,123 Retail Blvd,New York,NY,10001,Northeast,32500.0,2005-05-20
1,2,Mall of Chicago,456 Shopping Ave,Chicago,IL,60611,Midwest,45000.0,2007-08-15
2,3,Los Angeles Plaza,789 Commerce St,Los Angeles,CA,90001,West,55000.0,2004-03-10

In [663]:
df_sales.head(3)

,sale_id,date,store_id,customer_id,product_id,quantity,total,payment_method
0,1,2022-01-15,3.0,12,5,2,49.98,Credit Card
1,2,2022-01-16,1.0,5,10,1,49.99,credit card
2,3,2022-01-18,2.0,8,3,1,349.99,DEBIT CARD

In [664]:
df_inventory.head(3)

,inventory_id,store_id,product_id,quantity_in_stock,last_restock_date,reorder_level
0,1,1,1,25,2022-10-15,10.0
1,2,1,5,42,2022-11-02,15.0
2,3,1,10,18,2022-09-30,8.0

### exploratory analysis

In [665]:
# obtain summary statistics of numerical columns in the products, sales, and inventory dataframes

df_products.describe()

       product_id        price         cost     weight
count   30.000000    30.000000    30.000000  28.000000
mean    15.500000   191.724000   203.159000   3.835714
std      8.803408   452.483576   278.924138   5.693236
min      1.000000 -1599.990000     1.800000   0.200000
25%      8.250000    46.990000    28.375000   0.500000
50%     15.500000   134.990000    82.500000   1.150000
75%     22.750000   322.490000   236.250000   3.750000
max     30.000000  1299.990000  1100.000000  25.000000

In [666]:
df_sales.describe()

         sale_id   store_id  customer_id  product_id   quantity        total
count  40.000000  39.000000    40.000000   40.000000  40.000000    40.000000
mean   20.500000   6.487179    14.075000   13.500000   1.625000   352.296500
std    11.690452   4.235637     8.303189    8.857852   0.952392   377.625776
min     1.000000   1.000000     1.000000    1.000000   1.000000    19.980000
25%    10.750000   3.000000     6.750000    5.750000   1.000000    99.737500
50%    20.500000   6.000000    13.500000   11.500000   1.000000   229.985000
75%    30.250000   9.500000    20.250000   21.250000   2.000000   352.487500
max    40.000000  15.000000    29.000000   30.000000   5.000000  1599.990000

In [667]:
df_inventory.describe()

       inventory_id   store_id  product_id  quantity_in_stock  reorder_level
count     75.000000  75.000000   75.000000          75.000000      69.000000
mean      38.000000   8.000000   12.733333          22.640000      12.681159
std       21.794495   4.349588    7.179801          13.923187       3.327659
min        1.000000   1.000000    1.000000           0.000000       8.000000
25%       19.500000   4.000000    6.500000          15.000000      10.000000
50%       38.000000   8.000000   13.000000          25.000000      10.000000
75%       56.500000  12.000000   19.000000          33.500000      15.000000
max       75.000000  15.000000   25.000000          45.000000      20.000000

In [668]:
# check for missing values in all dataframes

df_customers.isnull().sum()

customer_id          0
first_name           0
last_name            0
email                3
phone                2
address              0
city                 0
state                0
zip_code             1
registration_date    3
dtype: int64

In [669]:
df_products.isnull().sum()

product_id      0
product_name    0
category        0
subcategory     0
brand           0
price           0
cost            0
weight          2
dtype: int64

In [670]:
df_stores.isnull().sum()

store_id        0
store_name      0
address         0
city            0
state           0
zip_code        0
region          0
size_sqft       2
opening_date    1
dtype: int64

In [671]:
df_sales.isnull().sum()

sale_id           0
date              1
store_id          1
customer_id       0
product_id        0
quantity          0
total             0
payment_method    1
dtype: int64

In [672]:
df_inventory.isnull().sum()

inventory_id         0
store_id             0
product_id           0
quantity_in_stock    0
last_restock_date    9
reorder_level        6
dtype: int64

In [673]:
# display the data types of each column in all dataframes

df_customers.dtypes

customer_id          int64
first_name             str
last_name              str
email                  str
phone                  str
address                str
city                   str
state                  str
zip_code               str
registration_date      str
dtype: object

In [674]:
df_products.dtypes

product_id        int64
product_name        str
category            str
subcategory         str
brand               str
price           float64
cost            float64
weight          float64
dtype: object

In [675]:
df_stores.dtypes

store_id          int64
store_name          str
address             str
city                str
state               str
zip_code            str
region              str
size_sqft       float64
opening_date        str
dtype: object

In [676]:
df_sales.dtypes

sale_id             int64
date                  str
store_id          float64
customer_id         int64
product_id          int64
quantity            int64
total             float64
payment_method        str
dtype: object

In [677]:
df_inventory.dtypes

inventory_id           int64
store_id               int64
product_id             int64
quantity_in_stock      int64
last_restock_date        str
reorder_level        float64
dtype: object

### basic information retrieval

In [678]:
# Q: how many unique products are in the product catalog?
# A: 30

In [679]:
# Q: What are the top 5 most expensive products?
# A:
expensive_products = (
    df_products.sort_values(['price'], ascending=False)
    .head(5)
)
print(expensive_products[['product_name', 'price']])

          product_name    price
3          Dell XPS 13  1299.99
0      Apple iPhone 13   899.99
1   Samsung Galaxy S21   799.99
19    Dyson V11 Vacuum   599.99
26  Sony PlayStation 5   499.99

In [680]:
# Q: Which store has the largest floor space?
# A:
largest_store = (
    df_stores.sort_values(['size_sqft'], ascending=False)
    .head(1)
)

print(largest_store[['store_name', 'size_sqft']])

          store_name  size_sqft
2  Los Angeles Plaza    55000.0

In [681]:
# Q: What is the distribution of customers by state?
# A:
customers_by_state = df_customers.groupby('state')['customer_id'].count()
print(customers_by_state)

state
AZ                1
CA                3
CO                1
California        1
FL                1
IL                1
IN                1
KY                1
MA                1
MD                1
MI                1
MO                1
Maryland          1
NM                1
NV                1
NY                2
North Carolina    1
OH                1
Oregon            1
PA                1
TN                1
TX                4
Texas             1
WI                1
Washington        1
Name: customer_id, dtype: int64

## pt. 2 | data cleaning

### handle missing values

In [682]:
# identify all missing values in each dataset
df_customers.isnull()

,customer_id,first_name,last_name,email,phone,address,city,state,zip_code,registration_date
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,True,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,True,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False
11,False,False,False,True,False,False,False,False,True,False
12,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,True,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,True
16,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,True
25,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False
29,False,False,False,True,False,False,False,False,False,False
30,False,False,False,False,False,False,False,False,False,False

In [683]:
df_products.isnull()

,product_id,product_name,category,subcategory,brand,price,cost,weight
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,True
9,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,True
22,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False

In [684]:
df_stores.isnull()

,store_id,store_name,address,city,state,zip_code,region,size_sqft,opening_date
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,True
9,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,True,False
14,False,False,False,False,False,False,False,False,False

In [685]:
df_sales.isnull()

,sale_id,date,store_id,customer_id,product_id,quantity,total,payment_method
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False
10,False,False,True,False,False,False,False,False
11,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False
30,False,True,False,False,False,False,False,False
31,False,False,False,False,False,False,False,False
32,False,False,False,False,False,False,False,True
33,False,False,False,False,False,False,False,False
34,False,False,False,False,False,False,False,False
35,False,False,False,False,False,False,False,False
36,False,False,False,False,False,False,False,False
37,False,False,False,False,False,False,False,False
38,False,False,False,False,False,False,False,False
39,False,False,False,False,False,False,False,False

In [686]:
df_inventory.isnull()

,inventory_id,store_id,product_id,quantity_in_stock,last_restock_date,reorder_level
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,True,False
...,...,...,...,...,...,...
70,False,False,False,False,False,False
71,False,False,False,False,False,False
72,False,False,False,False,False,False
73,False,False,False,False,False,False
74,False,False,False,False,True,False

In [687]:
type(df_products['weight'])

pandas.Series

In [688]:
# for numerical columns with missing values, replace them with the column mean

df_products['weight'] = df_products['weight'].fillna(df_products['weight'].mean())
df_stores['size_sqft'] = df_stores['size_sqft'].fillna(df_stores['size_sqft'].mean())
df_inventory['reorder_level'] = df_inventory['reorder_level'].fillna(df_inventory['reorder_level'].mean())

In [689]:
# for categorical columns with missing values, replace them with the most frequent value

# Categorical columns with missing data:
# df_customers | zip_code
# df_sales | payment_method

df_customers['zip_code'] = df_customers['zip_code'].fillna(df_customers['zip_code'].mode()[0])
df_sales['payment_method'] = df_sales['payment_method'].fillna(df_sales['payment_method'].mode()[0])

In [690]:
# for date columns with missing values, use forward fill or backward fill as appropriate

df_customers['registration_date'] = df_customers['registration_date'].bfill()
df_stores['opening_date'] = df_stores['opening_date'].ffill()
df_sales['date'] = df_sales['date'].bfill()
df_inventory['last_restock_date'] = df_inventory['last_restock_date'].ffill()

### removing duplicates

In [691]:
# check for and remove any duplicate entries in the customers and products dataframes

# for df_customers: check for duplicates in the first_name and last_name columns
df_customers.duplicated(subset=['first_name', 'last_name'])

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26     True
27    False
28    False
29    False
30    False
dtype: bool

In [692]:
# betty lewis appears twice, so we will keep the first instance and remove the other entry
df_customers = df_customers.drop_duplicates(subset=['first_name'])

In [693]:
# for df_products: check for duplicates in the product_id and product_name columns
df_products.duplicated(subset=['product_id', 'product_name'])
# there are no duplicates in df_products

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
dtype: bool

## discussion questions
###
#### 1. what are the key advantages of using Pandas for data cleaning compared to other methods?
##### Pandas offers a more streamlined approach to cleaning data as there are various methods that will give you quick information on the dataset (.dtype, .describe, .info, .isnull, etc.)
####
#### 2. how would your approach to handling missing values differ if the missing data was not random but had a pattern or meaning?
##### I first look at the column with the missing data. Is it an optional column? Does it require customer feedback?
##### I would then do further analysis to understand why the missing values were appearing to identify potential correlations
####
#### 3. what types of data quality issues might not be immediately visible through simple dataframe inspection methods?
##### Inconsistent formatting: capitalization, phone number/state/zip code formatting etc.
####
#### 4. how would you document your data cleaning process to ensure reproducibility?
##### I would include comprehensive and clear comments on my code that detail why I'm doing, why, and the outcome
####
#### 5. In what scenarios might it be better to remove rows with missing values rather than imputing them?
##### if the missing value is meant to be unique (ex. customer_id), it would be better to remove it as you don't want to have either a duplicate value of a unique identifier
##### or use a calculation/aggregate to change it to something that doesn't make sense for the column